:root {
  --bg: #0b0f14;
  --card: #111827;
  --card2: #0f172a;
  --border: #1f2937;
  --text: #e5e7eb;
  --muted: #9ca3af;

  --mlg: #facc15;
  --ht: #fb923c;
  --lt: #60a5fa;
}

* {
  box-sizing: border-box;
  font-family: Inter, system-ui, sans-serif;
}

body {
  margin: 0;
  background: radial-gradient(1200px 600px at top, #111827, var(--bg));
  color: var(--text);
}

header {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  background: rgba(15,23,42,.8);
  backdrop-filter: blur(10px);
}

main {
  max-width: 1000px;
  margin: auto;
  padding: 30px 40px;
}

.player {
  display: grid;
  grid-template-columns: 60px 56px 1fr 120px 160px;
  align-items: center;
  gap: 16px;
  padding: 14px 18px;
  margin-bottom: 12px;
  background: linear-gradient(180deg, var(--card), var(--card2));
  border: 1px solid var(--border);
  border-radius: 14px;
  cursor: pointer;
  transition: transform .15s ease;
}

.player:hover {
  transform: translateY(-2px);
}

.pos {
  font-size: 26px;
  font-weight: 800;
  color: var(--mlg);
  text-align: center;
}

.nick {
  font-size: 18px;
  color: #d3e3f5ff;
  font-weight: 600;
  text-shadow: 0 0 6px rgba(211, 211, 211, 0.5);
}

.region {
  text-align: center;
  padding: 6px 10px;
  border-radius: 8px;
  background: #0352c0ff;
  font-weight: 700;
}

.tier {
  font-weight: 800;
  text-align: center;
  font-size: 30px;
}

/* TIERS COM CORES DEFINIDAS E GLOW */

/* LT5 - Cinza claro */
.LT5 {
  color: #d3d3d3;
  font-weight: 600;
  text-shadow: 0 0 6px rgba(211, 211, 211, 0.5);
}

/* HT5 - Cinza escuro */
.HT5 {
  color: #555555;
  font-weight: 700;
  text-shadow: 0 0 6px rgba(85, 85, 85, 0.5);
}

/* LT4 & HT4 - Laranja */
.LT4, .HT4 {
  color: #ff8800;
  font-weight: 700;
  text-shadow: 0 0 8px rgba(255, 136, 0, 0.6);
}

/* LT3 & HT3 - Rosa */
.LT3, .HT3 {
  color: #ff66cc;
  font-weight: 700;
  text-shadow: 0 0 8px rgba(255, 102, 204, 0.6);
}

/* LT2 & HT2 - Roxo */
.LT2, .HT2 {
  color: #9933ff;
  font-weight: 700;
  text-shadow: 0 0 8px rgba(153, 51, 255, 0.6);
}

/* LT1 & HT1 - Amarelo */
.LT1, .HT1 {
  color: #ffff66;
  font-weight: 700;
  text-shadow: 0 0 8px rgba(255, 255, 102, 0.6);
}


/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal.active { display: flex; }

.modal-card {
  width: 420px;
  padding: 24px;
  background: linear-gradient(180deg, var(--card), var(--card2));
  border: 1px solid var(--border);
  border-radius: 18px;
}

.close {
  float: right;
  cursor: pointer;
  color: var(--muted);
}

.points {
  margin-top: 12px;
  font-weight: 700;
  color: var(--mlg);
}

.title {
  display: flex;
  align-items: center;
}

#logo {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 20px;
  object-fit: cover;
  color: #070f27ff;
  box-shadow: 0 0 6px rgba(96, 14, 228, 0.99);
  transition: all 0.3s ease;
}

.logo-title {
  width: 210px;
  height: 100px;
  margin-left: -30px;
  margin-bottom: -10px
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  background: #020617;
  border: 1px solid rgba(255,255,255,.08);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.skin {
  width: 62px;
  height: 62px;
  border-radius: 8px;
  object-fit: cover;
  color: #d3d3d3;
  box-shadow: 0 0 6px rgba(211, 211, 211, 0.5);
  transition: all 0.3s ease;
}

#mSkin {
  width: 120px;
  height: 120px;
  border-radius: 16px;
  object-fit: cover;
  color: #d3d3d3;
  box-shadow: 0 0 6px rgba(211, 211, 211, 0.5);
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

#footer {
  width: 100%;
  padding: 20px 0;
  background: linear-gradient(135deg, #15101dff, #0f0c14ff); /* fundo degradê */
  color: #e0d6ff; /* texto clarinho */
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
  box-shadow: 0 -4px 15px rgba(0,0,0,0.5); /* sombra em cima */
  position: relative;
  z-index: 10;
  border-top: 2px solid rgba(42, 5, 99, 0.5); /* detalhe top */
  backdrop-filter: blur(4px); /* efeito vidro leve */
  transition: all 0.3s ease;
}

#footer:hover {
  background: linear-gradient(135deg, #3c2b5c, #593c88);
  color: #fff;
  box-shadow: 0 -6px 20px rgba(0,0,0,0.7);
}

.muted {
  color: #d3d3d3;
  font-weight: 600;
  text-shadow: 0 0 4px rgba(233, 250, 0, 0.5);
}